@font-face {
    font-family: 'PT Mono';
    src: url(../../../assets/font/PTMono-Regular.ttf);
}


img{
    border-radius: 5%;
    max-width: 7rem;
}
h1{
    font-size: 4rem;
}

div{
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    font-family: 'PT Mono';
}

.card{
    
   
    background-color:  #05050581 !important;
}



.card:hover{
    background-color: #050505ab !important;
}

.card-text{
    width:inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}
