.row {
    justify-content: center;
}

.logo {
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
}

h1 {
    font-size: 4rem;
}
.img{
    text-align: center;
    width: 7rem;
}

.end{
    text-align: end;
}
table{
    background-color:  #05050581 !important;
}

table:hover{
    background-color: #050505ab !important;
}