    <div class="container">
        <div class="row" id="educacion">
            <h1>Educacion</h1>
            <div class="col-12 text-center pb-5">
                <button class="btn btn-dark" routerLink="/nuevaedu" type="button" *ngIf="isLogged">Agregar</button>
            </div>


            <table class="col-9 rounded mb-2" *ngFor="let Educacion of educacion">
                <tbody>
                    <tr>
                        <td rowspan="3" class="img">
                            <img src={{Educacion.img}} class="logo" />
                        </td>
                        <td>
                            <h5 class="mb-1 mt-2">{{Educacion.nombreE}}</h5>
                        </td>
                        <td class="end mt-2">
                            <button type="button" class="btn btn-lg" routerLink="/editedu/{{Educacion.id}}"
                                *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-lg" (click)="eliminarEducacion(Educacion.id)"
                                *ngIf="isLogged"><i class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{Educacion.descripcionE}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="pb-2">
                            <small>{{Educacion.institucion}}</small>
                        </td>
                        <td class="end pe-3">
                            <small>{{Educacion.fecha_inicio}} - {{Educacion.fecha_fin}}</small>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
   