<div class="row" id="educación">
    <h1>Educacion</h1>
    <div class="col-11">
        <div class="list-group">
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tecnicatura Universitaria en Programación</h5>
                    <small>2021 - 2023</small>
                </div>
                <div class="row">
                    <img src="../../../assets/logo-utn.png" class="col, logo" />
                    <div class="col">
                        <p>UTN - Facultad Regional Paraná</p>
                        <small>Realizando las Prácticas Supervisadas</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Argentina Programa #SéProgramar</h5>
                    <small>2021 - 2023</small>
                </div>
                <div class="row">
                    <img src="../../../assets/logo-ap.png" class="col, logo" />
                    <div class="col">
                        <p>Ministerio de Desarrollo Productivo</p>
                        <small>Primera etapa del programa finalizada. Actualmente cursando la segunda etapa #YoProgramo</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">WorkShop Videojuegos</h5>
                    <small>2022</small>
                </div>
                <div class="row">
                    <img src="../../../assets/logo-utn.png" class="col, logo" />
                    <div class="col">
                        <p>UTN - Facultad Regional Buenos Aires</p>
                        <small>Curso sobre la realización de videojuegos. Fundamentos y tecnología de Construct 3</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tecnicatura en Pintura</h5>
                    <small>2019</small>
                </div>
                <div class="row">
                    <img src="../../../assets/Uader-logo.jpg" class="col, logo" />
                    <div class="col">
                        <p>UADER - Facultad de Humanidades, Artes y Ciencias Sociales</p>
                        <small>Actualmente a una materia de obtener el título</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Licenciatura en Artes Visuales</h5>
                    <small>2017</small>
                </div>
                <div class="row">
                    <img src="../../../assets/Uader-logo.jpg" class="col, logo" />
                    <div class="col">
                        <p>UADER - Facultad de Humanidades, Artes y Ciencias Sociales</p>
                        <small>Actualmente en el quinto año</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Bachiller con orientación en Ciencias Naturales</h5>
                    <small>2010 - 2016</small>
                </div>
                <div class="row">
                    <img src="../../../assets/Logo-IELA.jpg" class="col, logo" />
                    <div class="col">
                        <p>Colegio Privado "Martín Lutero"</p>
                        <small>Título secundario</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
