div {
    padding-top: 25px;
  
}
footer{
    padding-top: 10px;
   font-family: "Otro";
   font-size:1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 2px -2px 5px #eb8f8f;
}