<div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-custom navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/APLogo-20-20.png" alt="logo AP">
      </a>
      <span class="navbar-brand mb-0">#YoProgramo</span>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarContent">
     
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
          <li>
            <a class="nav-link" href="#acercaDe">Acerca de</a>
          </li>
          <li>
            <a class="nav-link" href="#educación">Educación</a>
          </li>
          <li>
            <a class="nav-link" href="#habilidades">Habilidades</a>
          </li>
          <li>
            <a class="nav-link" href="#experiencia">Experiencia</a>
          </li>

          <li class="nav-item dropdown">
            <a href="#proyectos" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> Proyectos<b
                class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#proyecto1">Portfolio Argentina Programa</a>
              </li>
            </ul>

          <li class="nav-item dropdown">
            <a href="#contacto" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> Contacto <b
                class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="https://www.linkedin.com/in/florencia-herber-772b7724b/" target="_blank"> <i class="bi bi-linkedin"></i> Linkedin</a>
              </li>
              <li>
                <a class="dropdown-item" href="https://github.com/FlorHerb" target="_blank"> <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub</a>
                
              </li>
              <li>
                <a class="dropdown-item" href="https://www.instagram.com/florenciaxmagali/" target="_blank"><i class="bi bi-instagram"></i> Instagram</a>
              </li>
            </ul>
          </li>
          <li>
            <button class="btn btn-dark" ><i class="bi bi-box-arrow-in-right"></i> Login</button>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>