@media(min-width: 991px) {
    .navbar {
        height: 4rem;
    }
}


.navbar-custom {
    background-color: #301217;
}

.navbar-brand {
    font-size: 15px;
}

img {
    width: 110px;
}

nav{
    position: sticky;
}

a{
    font-size: 1.1rem;
}
.modal-content{
    background-color: #301217;
}

