<div class="container" *ngIf="experiencia">
    <div class="d-flex justify-content-center mt-5">
        <form class="d-flex flex-column justify-content-center" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group pb-2">
                <label for="nombreE">Nombre</label>
                <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="experiencia.nombreE"
                    required />
            </div>
            <div class="form-group pb-2">
                <label for="descripcionExp">Descripcion</label>
                <input type="text" class="form-control" id="descripcionE" name="descripcionE"
                    [(ngModel)]="experiencia.descripcionE" required />
            </div>
            <div class="form-group pb-2">
                <label for="img">Imagen</label>
                <input type="file" class="form-control" id="img" name="img" (change)="uploadImage($event)"
                    accept=".jpg, .jpeg, .png" />
            </div>
            <div class="form-group pb-2">
                <label for="fecha_inicio">Fecha Inicio</label>
                <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio"
                    [(ngModel)]="experiencia.fecha_inicio" required />
            </div>
            <div class="form-group pb-2">
                <label for="fecha_fin">Fecha Finalización</label>
                <input type="text" class="form-control" id="fecha_fin" name="fecha_fin"
                    [(ngModel)]="experiencia.fecha_fin" required />
            </div>
            <div class="form-group pb-2">
                <label for="empleador">Empleador</label>
                <input type="text" class="form-control" id="empleador" name="empleador"
                    [(ngModel)]="experiencia.empleador" required />
            </div>
            <div class="imagen pb-3 align-self-center" id="imagen">
                 <img [src]="imagenSrc" alt="imagen cargada" *ngIf="experiencia" /> 
            </div>
            <button class="btn btn-dark mb-5" type="submit">
                Actualizar Experiencia
            </button>

        </form>
    </div>
</div>