.row {
    justify-content: center;
}

.logo-experiencia {
    width: 80px;
    border-radius: 100%;
}

h5 {
    padding-bottom: 10px;
}

div {
  background-color:#7eb7b5;
}

h1 {
    font-size: 55px;
}