<div class="container">
    <div class="row" id="experiencia">
        <h1>Experiencia Laboral</h1>
        <div class="col-12 text-center pb-5">
            <button class="btn btn-dark" routerLink="/nuevaexp" type="button" *ngIf="isLogged">Agregar</button>
        </div>

    
        <table class="col-9 rounded mb-2" *ngFor="let Experiencia of experiencia">
            <tbody >
                <tr>
                    <td rowspan="3" class="img">
                        <img src={{Experiencia.img}} class="logo-experiencia" />
                    </td>
                    <td>
                        <h5 class="mb-1 mt-2">{{Experiencia.nombreE}}</h5>
                    </td>
                    <td class="end mt-2">
                        <button type="button" class="btn btn-lg" routerLink="/editexp/{{Experiencia.id}}"
                            *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-lg" (click)="eliminarExperiencia(Experiencia.id)"
                            *ngIf="isLogged"><i class="bi bi-trash3-fill"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{Experiencia.descripcionE}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="pb-2">
                        <small>{{Experiencia.empleador}}</small>
                    </td>
                    <td class="end pe-3">
                        <small>{{Experiencia.fecha_inicio}} - {{Experiencia.fecha_fin}}</small>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>
