<div  id="habilidades">
   
    <div class="row justify-content-center" >
        <h1>Hard and Soft Skills</h1>
        <h2>Lenguajes</h2>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="70" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Javascript"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="85" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"HTML"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="75" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"CSS"' [subtitle]="''"></circle-progress>
        </div>
       

    </div>
    <div class="row justify-content-center" >
        <div class="col-4 col-md-3">
            <circle-progress [percent]="75" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"C#"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="65" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Java"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="30" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Python"' [subtitle]="''"></circle-progress>
        </div>
    </div>
    <div class="row justify-content-center" >
        <h2>Frameworks/Librerias</h2>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="30" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Angular"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="45" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"React"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="10" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Spring Boot"' [subtitle]="''"></circle-progress>
        </div>
    </div>

    <div class="row justify-content-center" >
        <h2>Otras Habilidades</h2>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="85" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Inglés"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="90" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Trabajo en Equipo"' [subtitle]="''" [titleFontSize]="'15'"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="80" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Rápido aprendizaje"' [subtitle]="''" [titleFontSize]="'15'"></circle-progress>
        </div>
    </div>
</div>