<div class="container col-8" id="habilidades">

    <div class="row pb-5">
        <h1 class="col">Habilidades</h1>
        <div>
            <button class="btn btn-dark mb-4" routerLink="/nuevaskill" type="button" *ngIf="isLogged">Agregar</button>
        </div>
    
        <div class=" col-lg-4 col-md-4 col-sm-8" *ngFor="let Skill of skill">
            <div class="circulo">
            <circle-progress [percent]="(Skill.porcentaje)" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]="(Skill.nombre)" [titleColor]="'#faebd7'"
                [subtitle]="''"></circle-progress>
            <div>   
                <button type="button" class="btn btn-lg" routerLink="/editskill/{{Skill.id}}" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-lg" (click)="delete(Skill.id)" *ngIf="isLogged"><i class="bi bi-trash3-fill"></i></button>    
            </div>
        </div>
    </div>
        
    </div>
</div>



<!--      <div class="col-4 col-md-3">
            <circle-progress [percent]="85" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"HTML"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="75" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"CSS"' [subtitle]="''"></circle-progress>
        </div>
       

    </div>
    <div class="row justify-content-center" >
        <div class="col-4 col-md-3">
            <circle-progress [percent]="75" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"C#"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="65" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Java"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="30" [radius]="70" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Python"' [subtitle]="''"></circle-progress>
        </div>
    </div>
    <div class="row justify-content-center" >
        <h2>Frameworks/Librerias</h2>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="30" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Angular"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="45" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"React"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="10" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Spring Boot"' [subtitle]="''"></circle-progress>
        </div>
    </div>

    <div class="row justify-content-center" >
        <h2>Otras Habilidades</h2>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="85" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Inglés"' [subtitle]="''"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="90" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Trabajo en Equipo"' [subtitle]="''" [titleFontSize]="'15'"></circle-progress>
        </div>
        <div class="col-4 col-md-3">
            <circle-progress [percent]="80" [radius]="80" [showUnits]="false" [outerStrokeWidth]="9"
                [innerStrokeWidth]="5" [outerStrokeColor]="'#401b32'" [innerStrokeColor]="'#7a3f4a'" [animation]="true"
                [animationDuration]="300" [responsive]="true" [title]='"Rápido aprendizaje"' [subtitle]="''" [titleFontSize]="'15'"></circle-progress>
        </div>
    </div> 
</div>-->