<div class="container" *ngIf="persona">
     <div class="d-flex flex-column align-items-center">
        <div>
            <img src={{persona.img}} class="img-fluid" id="dibujo-perfil" />
        </div>
        <div>
            <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
            <h5 class="text-center">{{persona.ocupacion}}</h5>
            <h6 class="text-center">{{persona.ubicacion}}</h6>

        </div>

        <button class="btn btn-dark mt-3" routerLink="/editacercade/1" type="button" *ngIf="isLogged">Editar</button>

        <div id="acercaDe">
            <h1>Acerca de mi</h1>

            <p>Desde que tengo memoria adoro crear cosas, creo que no hay nada mejor que la sensación de traer algo
                nuevo al mundo.</p>
            <p>
                Hace unos años comencé a formarme en las Artes Visuales, en pintura específicamente.
                Durante ese camino descubrí mi pasión por el diseño digital y el diseño web, lo que me llevó a formarme
                como Programadora
                en la Universidad Tecnológica Nacional y a ser parte de Argentina Programa.
                Actualmente estoy terminando la carrera y esperando ansiosamente poder ser parte de proyectos en los que
                pueda implementar
                todo lo que vengo aprendiendo y en donde pueda seguir mejorando y creciendo.

            </p>
        </div>

    </div> 

</div>