
h1 {
    font-size: 4rem;
}

h6 {
    padding-top: 1rem;
}

/* etiqueta nombre */
#nombre {
    font-weight: bold;

    font-family: "Otro";
    font-size: 3.5rem;
}

#dibujo-perfil {
    border-radius: 100%;
    width: 15rem;
    margin-top: 2rem;
}

#acercaDe{
    width: 70%;
}

p{
    text-align: center;
}
