<div class="row">
    <div class="col-6">
        <img src="../../../assets/dibujo-perfil.png" class="img-fluid" id="dibujo-perfil" />
    </div>
    <div class="col-12">
        <h2 id="nombre">Florencia Herber</h2>
        <h5>Full Stack Developer Jr</h5>
        <h6>Entre Ríos, Argentina</h6>
    </div>

    <div class="col-10" id="acercaDe">
        <span>
            <h1>Acerca de mi</h1>
           <!--<h2>{{persona.nombre}}</h2>--> 
            <p>Desde que tengo memoria adoro crear cosas, creo que no hay nada mejor que la sensación de traer algo
                nuevo al mundo.</p>
            <p>
                Hace unos años comencé a formarme en las Artes Visuales, en pintura específicamente.
                Durante ese camino descubrí mi pasión por el diseño digital y el diseño web, lo que me llevó a formarme
                como Programadora
                en la Universidad Tecnológica Nacional y a ser parte de Argentina Programa.
                Actualmente estoy terminando la carrera y esperando ansiosamente poder ser parte de proyectos en los que
                pueda implementar
                todo lo que vengo aprendiendo y en donde pueda seguir mejorando y creciendo.

            </p>


        </span>

    </div>
</div>